<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.grahampugh.nice_updater_on_demand</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Library/Scripts/nice_updater.sh</string>
		<string>on_demand</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Library/Preferences/com.github.grahampugh.nice_updater.trigger.plist</string>
	</array>
</dict>
</plist>
